nav {
  white-space: nowrap;
}
ul {
  list-style-type: none;
  display: inline-flex;
  box-sizing: border-box;
  line-height: normal;
  padding: 0 4px;
  margin: 0px;
  flex: 0 0 auto;
}
li {
  padding: 15px;
}
a {
  color: #202124;
  display: inline;
  vertical-align: middle;
  text-decoration: none;
}
