body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans Myanmar', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Noto Sans",
    monospace;
}
